$s-appstore: 172px 37px -172px -37px 90px 32px 262px 132px 'sprite.png';
$s-fb: 0px 49px 0px -49px 44px 44px 262px 132px 'sprite.png';
$s-googleplay: 172px 0px -172px 0px 90px 32px 262px 132px 'sprite.png';
$s-maps-ico: 172px 74px -172px -74px 16px 22px 262px 132px 'sprite.png';
$s-phone-ico: 193px 74px -193px -74px 16px 21px 262px 132px 'sprite.png';
$s-slide-left-hover: 0px 98px 0px -98px 69px 34px 262px 132px 'sprite.png';
$s-slide-left: 74px 98px -74px -98px 69px 34px 262px 132px 'sprite.png';
$s-slide-right-hover: 98px 39px -98px -39px 69px 34px 262px 132px 'sprite.png';
$s-slide-right: 98px 0px -98px 0px 69px 34px 262px 132px 'sprite.png';
$s-tw: 49px 0px -49px 0px 44px 44px 262px 132px 'sprite.png';
$s-vk: 0px 0px 0px 0px 44px 44px 262px 132px 'sprite.png';
