@charset "UTF-8";
@font-face {
  font-family: 'elektra_light_probold';
  src: url("../fonts/elektra_medium_pro_bold-webfont.eot");
  src: url("../fonts/elektra_medium_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro_bold-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro_bold-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'elektra_light_proregular';
  src: url("../fonts/elektra_light_pro-webfont.eot");
  src: url("../fonts/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_light_pro-webfont.woff") format("woff"), url("../fonts/elektra_light_pro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px; }

.i-clear {
  clear: both; }

.b-body {
  background-color: #ffffff;
  color: #00B9FE;
  font-size: 14px;
  height: 100%;
  margin: 0;
  min-width: 1000px;
  padding: 38px 0 0 0;
  width: 100%; }

.b-wraper {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff; }

.b-content {
  float: right;
  width: 740px;
  padding-bottom: 39px; }

.b-left {
  width: 230px;
  float: left; }

.b-logo {
  padding-bottom: 22px;
  padding-left: 1px; }

.b-call {
  background-color: #f4f6f9;
  padding: 11px 0 9px 0;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  /* Firefox 19+ */
  /* Firefox 18- */
  /* ╨┐╨╗╨░╨▓╨╜╨╛╨╡ ╨╕╨╖╨╝╨╡╨╜╨╡╨╜╨╕╨╡ ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╨╕  placeholder-╨░ ╨┐╤А╨╕ ╤Д╨╛╨║╤Г╤Б╨╡ */
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .b-call__callback-form {
    padding: 0 10px 0 12px;
    font-family: 'elektra_light_proregular'; }
  .b-call__header {
    color: #829ab1;
    font-family: 'elektra_light_probold';
    font-size: 25px;
    padding-bottom: 17px; }
  .b-call__step {
    height: 26px;
    padding-bottom: 15px;
    position: relative; }
  .b-call__step-h67 {
    height: 69px; }
  .b-call__label {
    color: #5c7b98;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 26px;
    padding-top: 1px; }
  .b-call__input {
    box-sizing: border-box;
    border: 1px solid #dae1eb;
    display: block;
    float: right;
    height: 26px;
    line-height: 25px;
    padding-left: 5px;
    width: 133px;
    font-size: 13px;
    outline: none; }
  .b-call__tarea {
    box-sizing: border-box;
    width: 209px;
    height: 69px;
    border: 1px solid #dae1eb;
    outline: none;
    resize: none;
    padding: 0; }
  .b-call__input::-webkit-input-placeholder {
    color: #dae1eb; }
  .b-call__input::-moz-placeholder {
    color: #dae1eb; }
  .b-call__input:-moz-placeholder {
    color: #dae1eb; }
  .b-call__input:-ms-input-placeholder {
    color: #dae1eb; }
  .b-call__input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__tarea::-webkit-input-placeholder {
    color: #dae1eb; }
  .b-call__tarea::-moz-placeholder {
    color: #dae1eb; }
  .b-call__tarea:-moz-placeholder {
    color: #dae1eb; }
  .b-call__tarea:-ms-input-placeholder {
    color: #dae1eb; }
  .b-call__tarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__tarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__tarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__tarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .b-call__tarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__tarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__tarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__tarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  .b-call__select {
    background: #ffffff url("../images/arrow_down.png") no-repeat 24px 0px;
    width: 51px;
    height: 26px;
    border: 1px solid #dae1eb;
    color: #dae1eb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .b-call__send, .b-call__reset {
    width: 90px;
    height: 35px;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-family: 'elektra_light_probold'; }
  .b-call__send {
    background-color: #00b9fe;
    float: left; }
  .b-call__reset {
    background-color: #dae1eb;
    float: right; }

.b-left-gallery {
  margin-left: -5px;
  margin-bottom: 17px; }
  .b-left-gallery__a {
    text-decoration: none; }
  .b-left-gallery__box {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    position: relative; }
  .b-left-gallery__img_mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    /*IE8*/
    text-align: center;
    background: #00b9fe;
    background: -moz-radial-gradient(center, ellipse cover, rgba(218, 225, 235, 0.56) 0%, #00b9fe 100%);
    background: -webkit-gradient(radial, center center, 5px, center center, 100%, color-stop(0%, rgba(218, 225, 235, 0.56)), color-stop(100%, #00b9fe));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(218, 225, 235, 0.36) 0%, #00b9fe 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(218, 225, 235, 0.56) 0%, #00b9fe 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(218, 225, 235, 0.56) 0%, #00b9fe 100%);
    background: radial-gradient(center, ellipse cover, rgba(218, 225, 235, 0.56) 0%, #00b9fe 100%); }
  .b-left-gallery__img_mask:hover {
    opacity: 1;
    filter: alpha(opacity=1);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
    /*IE8*/
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }
  .b-left-gallery__img_info {
    opacity: 0;
    filter: alpha(opacity=0);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    /*IE8*/
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'elektra_light_probold';
    line-height: 70px;
    text-shadow: 0px 0px 12px rgba(97, 57, 147, 0.9); }
  .b-left-gallery__img_mask:hover .b-left-gallery__img_info {
    opacity: 1;
    filter: alpha(opacity=1);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
    /*IE8*/
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }

.b-address {
  background-color: #f4f6f9;
  padding: 10px 18px 0px 24px;
  font-style: normal;
  position: relative; }
  .b-address__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .b-address__a {
    font-family: 'elektra_light_proregular';
    color: #5c7b98;
    font-size: 14px;
    display: block;
    text-decoration: none;
    position: relative;
    padding-bottom: 15px;
    line-height: 19px;
    padding-left: 20px; }
  .b-address__a_pl {
    padding-left: 41px; }
  .b-address__a-map, .b-address__a-phone {
    position: absolute;
    display: block;
    top: -2px;
    left: 0px; }
  .b-address__a-map {
    background-image: url("../images/sprite.png");
    background-position: -172px -74px;
    width: 16px;
    height: 22px; }
  .b-address__a-phone {
    background-image: url("../images/sprite.png");
    background-position: -193px -74px;
    width: 16px;
    height: 21px;
    left: 20px; }

.b-slider {
  margin-bottom: 31px;
  position: relative;
  overflow: hidden; }
  .b-slider__arrows-left, .b-slider__arrows-right {
    position: absolute;
    box-sizing: border-box;
    display: block;
    user-select: none;
    top: 103px;
    width: 69px;
    height: 34px;
    line-height: 34px;
    color: #5c7b98;
    text-decoration: none;
    font-size: 17px;
    font-family: 'elektra_light_probold'; }
  .b-slider__arrows-left:hover, .b-slider__arrows-right:hover {
    color: #ffffff;
    cursor: pointer; }
  .b-slider__arrows-left:hover {
    background-image: url("../images/sprite.png");
    background-position: 0px -98px;
    width: 69px;
    height: 34px; }
  .b-slider__arrows-right:hover {
    background-image: url("../images/sprite.png");
    background-position: -98px -39px;
    width: 69px;
    height: 34px; }
  .b-slider__arrows-left {
    left: 10px;
    padding-left: 14px;
    background-image: url("../images/sprite.png");
    background-position: -74px -98px;
    width: 69px;
    height: 34px; }
  .b-slider__arrows-right {
    right: 10px;
    padding-left: 9px;
    background-image: url("../images/sprite.png");
    background-position: -98px 0px;
    width: 69px;
    height: 34px; }
  .b-slider__list {
    width: 10000px;
    padding: 0;
    margin: 0;
    list-style: none; }
  .b-slider__item {
    padding: 0;
    margin: 0;
    font-family: 'elektra_light_proregular';
    position: relative;
    float: left; }
  .b-slider__img {
    display: block; }
  .b-slider__description {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76px;
    background-color: rgba(0, 0, 0, 0.55); }
  .b-slider__description-in {
    padding: 18px 0 0 24px; }
  .b-slider__title a {
    color: #00a2df;
    font-size: 18px; }
  .b-slider__title-description {
    color: #ffffff;
    font-size: 14px;
    margin-top: 2px; }

.b-goods {
  margin-bottom: 29px;
  margin-top: 0; }
  .b-goods__title {
    text-align: center;
    overflow: hidden; }
  .b-goods__h2 {
    color: #5c7b98;
    display: inline-block;
    font-family: 'elektra_light_probold';
    font-size: 25px;
    position: relative;
    padding: 0 15px 6px 15px;
    margin: 3px 0; }
    .b-goods__h2:before, .b-goods__h2:after {
      background: #5c7b98;
      content: "";
      display: block;
      height: 1px;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 370px; }
    .b-goods__h2:before {
      left: 100%; }
    .b-goods__h2:after {
      right: 100%; }

.b-product_wraper {
  margin-left: -25px; }

.b-product {
  border: 1px solid #dbe2eb;
  width: 228px;
  margin-left: 25px;
  float: left;
  transition: 0.2s;
  font-family: 'elektra_light_proregular'; }
  .b-product a {
    text-decoration: none;
    color: #5c7b98; }
  .b-product:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    transition: 0.2s; }
    .b-product:hover .b-product__title_name-in {
      color: #613993;
      transition: 0.7s; }
  .b-product__a {
    display: block;
    padding: 20px 9px 13px 9px; }
  .b-product__title_img {
    width: 85px;
    overflow: hidden;
    float: left;
    position: relative;
    height: 100px; }
    .b-product__title_img img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .b-product__title_name {
    float: left;
    width: 115px; }
    .b-product__title_name-in {
      display: table-cell;
      height: 90px;
      text-align: center;
      vertical-align: center;
      vertical-align: middle;
      width: 115px;
      color: #00b9fe;
      text-decoration: underline;
      transition: 0.3s; }
  .b-product__properties {
    width: 199px;
    clear: both;
    padding-left: 6px; }
  .b-product__table {
    padding: 0;
    margin: 0; }
    .b-product__table tr {
      height: 20px; }
    .b-product__table_td-left {
      width: 100px;
      vertical-align: top; }

.b-footer, .b-footer-push {
  height: 238px;
  margin: 0;
  padding: 0; }

.b-footer {
  background: url("../images/footer_bg.png") 0 0 repeat #613993;
  height: 238px;
  margin-top: -238px;
  position: relative; }
  .b-footer-in {
    width: 1000px;
    margin: 0 auto;
    position: relative; }
    .b-footer-in_logo {
      width: 139px;
      height: 39px;
      position: absolute;
      top: 98px;
      left: 0; }
    .b-footer-in_pr {
      position: absolute;
      top: 72px;
      right: 0; }
    .b-footer-in_store {
      margin-bottom: 20px; }
      .b-footer-in_store-as {
        background-image: url("../images/sprite.png");
        background-position: -172px -37px;
        width: 90px;
        height: 32px;
        display: inline-block; }
      .b-footer-in_store-gp {
        background-image: url("../images/sprite.png");
        background-position: -172px 0px;
        width: 90px;
        height: 32px;
        display: inline-block;
        margin-left: 1px; }
    .b-footer-in_social-vk {
      background-image: url("../images/sprite.png");
      background-position: 0px 0px;
      width: 44px;
      height: 44px;
      display: inline-block; }
    .b-footer-in_social-fb {
      background-image: url("../images/sprite.png");
      background-position: 0px -49px;
      width: 44px;
      height: 44px;
      display: inline-block;
      margin-left: 4px; }
    .b-footer-in_social-tw {
      background-image: url("../images/sprite.png");
      background-position: -49px 0px;
      width: 44px;
      height: 44px;
      display: inline-block;
      margin-left: 4px; }
  .b-footer__menu {
    text-align: left;
    margin-left: 260px;
    padding-top: 61px;
    color: #ffffff; }
    .b-footer__menu a {
      color: #ffffff;
      font-family: 'elektra_light_proregular';
      font-size: 15px;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      text-decoration: underline; }
    .b-footer__menu a:hover {
      text-decoration: none;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      text-decoration: none;
      color: #d1eeff; }
    .b-footer__menu_list {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .b-footer__menu_item {
      display: inline-block;
      width: 158px; }
  .b-footer__nav_list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .b-footer__nav_item {
    margin-bottom: 7px; }
  .b-footer__nav_title {
    font-family: 'elektra_light_probold';
    font-size: 15px;
    padding-bottom: 6px; }

.b-topsite {
  background: url("../images/goup.png") no-repeat;
  width: 77px;
  height: 39px;
  text-align: center;
  position: fixed;
  bottom: 291px;
  right: 10px;
  opacity: 0.7;
  cursor: pointer;
  display: none;
  color: #ffffff;
  padding-top: 13px;
  font-size: 17px;
  font-family: 'elektra_light_probold'; }

.b-topsite:hover {
  opacity: 1; }

.b-call__input-error {
  border: 1px solid #ef5b5b;
  box-shadow: 0px 0px 5px rgba(239, 91, 91, 0.5); }

.myToolTip {
  background-color: #ef5b5b;
  box-shadow: 0px 0px 10px rgba(0, 0, 1, 0.5);
  color: #fff;
  display: none;
  line-height: 1;
  padding: 8px 14px;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  margin-left: 10px;
  left: 100%;
  top: -2px; }
  .myToolTip:before {
    border-style: solid;
    content: '';
    position: absolute; }
  .myToolTip:before {
    margin-top: -5px;
    top: 50%;
    border-width: 5px 8px 5px 0;
    border-color: transparent #ef5b5b transparent transparent;
    right: 100%; }

/*# sourceMappingURL=screen.css.map */
